/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* CSS Background Image  */

* {
  font-family: "Poppins", sans-serif;
}
body {
  background: url(../img/weather3.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
